@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Pacifico&display=swap');

* {
  box-sizing: border-box;
  font-family: Comfortaa, sans-serif;

}

body{
  background-color: #0F6A80;
}

.nav-link {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color: #006570;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.nav-link.active {
  background-color: darkblue;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: indianred;
  border-radius: 10px;
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

img {
  width: 50%;
}

.specs{
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: indianred;
}

button{

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  color: #ffffff;
  background-color: #007c89;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
  padding: 0 18px;
  

}

button:hover {
  color: #ffffff;
  background-color: #006570;
}